In [1]:
import pandas as pd
df=pd.read_csv(r"E:\TEST\AUTO_MARKS.csv")
print(df.shape)
print(df.head())
print(df.tail())
print(df.columns)

(48, 7)
   Student_Name Department Year Section  Marks Result Grade
0  Aarav Sharma        CSE  3rd       C     90   Pass     A
1    Diya Patel         ME  1st       B     51   Pass     D
2   Rohan Verma        EEE  3rd       C     57   Pass     C
3  Ananya Singh         ME  2nd       C     56   Pass     C
4   Kunal Mehta         CE  3rd       A     92   Pass     A
     Student_Name Department Year Section  Marks Result Grade
43     Komal Jain        EEE  4th       A     60   Pass     C
44     Sahil Khan         CE  4th       C     54   Pass     D
45    Nandini Roy        ECE  3rd       B     32   Fail     F
46  Rajesh Pillai        EEE  3rd       A     30   Fail     F
47  Bhavya Mittal        ECE  2nd       C     36   Fail     F
Index(['Student_Name', 'Department', 'Year', 'Section', 'Marks', 'Result',
       'Grade'],
      dtype='object')

In [11]:
import pandas as pd
df=pd.read_csv(r"E:\TEST\AUTO_MARKS.csv")
print(df[["Student_Name","Grade"]])

          Student_Name Grade
0         Aarav Sharma     A
1           Diya Patel     D
2          Rohan Verma     C
3         Ananya Singh     C
4          Kunal Mehta     A
5           Priya Iyer     B
6           Aditya Rao     B
7          Sneha Gupta     D
8          Vikram Nair     D
9          Neha Kapoor     A
10      Arjun Malhotra     B
11         Pooja Desai     C
12    Rahul Chatterjee     F
13     Ishita Banerjee     A
14      Siddharth Jain     B
15      Nisha Aggarwal     C
16        Manish Yadav     F
17         Kavya Reddy     B
18        Suresh Kumar     B
19          Mehul Shah     C
20         Tanvi Joshi     C
21       Amit Kulkarni     B
22        Shreya Ghosh     B
23        Varun Saxena     A
24        Ritika Arora     F
25        Akash Mishra     F
26        Swati Pandey     B
27        Nitin Bansal     D
28  Aishwarya Kulkarni     B
29       Harsh Vardhan     C
30         Simran Kaur     A
31       Gaurav Tiwari     D
32        Pankaj Sinha     B
33       Ritu Malhotra     B
34       Mohit Chauhan     A
35   Ankita Srivastava     A
36         Deepak Rana     D
37       Preeti Khanna     A
38        Sanjay Patel     A
39        Madhuri Naik     A
40        Yash Agarwal     D
41           Isha Goel     A
42     Pranav Kulkarni     F
43          Komal Jain     C
44          Sahil Khan     D
45         Nandini Roy     F
46       Rajesh Pillai     F
47       Bhavya Mittal     F

In [2]:
import pandas as pd
df=pd.read_csv(r"E:\TEST\AUTO_MARKS.csv")
print(df.shape)
print(df.columns)
print(df.head())
print(df.tail())

(48, 7)
Index(['Student_Name', 'Department', 'Year', 'Section', 'Marks', 'Result',
       'Grade'],
      dtype='object')
   Student_Name Department Year Section  Marks Result Grade
0  Aarav Sharma        CSE  3rd       C     90   Pass     A
1    Diya Patel         ME  1st       B     51   Pass     D
2   Rohan Verma        EEE  3rd       C     57   Pass     C
3  Ananya Singh         ME  2nd       C     56   Pass     C
4   Kunal Mehta         CE  3rd       A     92   Pass     A
     Student_Name Department Year Section  Marks Result Grade
43     Komal Jain        EEE  4th       A     60   Pass     C
44     Sahil Khan         CE  4th       C     54   Pass     D
45    Nandini Roy        ECE  3rd       B     32   Fail     F
46  Rajesh Pillai        EEE  3rd       A     30   Fail     F
47  Bhavya Mittal        ECE  2nd       C     36   Fail     F

In [4]:
print(df[["Student_Name","Grade"]])

          Student_Name Grade
0         Aarav Sharma     A
1           Diya Patel     D
2          Rohan Verma     C
3         Ananya Singh     C
4          Kunal Mehta     A
5           Priya Iyer     B
6           Aditya Rao     B
7          Sneha Gupta     D
8          Vikram Nair     D
9          Neha Kapoor     A
10      Arjun Malhotra     B
11         Pooja Desai     C
12    Rahul Chatterjee     F
13     Ishita Banerjee     A
14      Siddharth Jain     B
15      Nisha Aggarwal     C
16        Manish Yadav     F
17         Kavya Reddy     B
18        Suresh Kumar     B
19          Mehul Shah     C
20         Tanvi Joshi     C
21       Amit Kulkarni     B
22        Shreya Ghosh     B
23        Varun Saxena     A
24        Ritika Arora     F
25        Akash Mishra     F
26        Swati Pandey     B
27        Nitin Bansal     D
28  Aishwarya Kulkarni     B
29       Harsh Vardhan     C
30         Simran Kaur     A
31       Gaurav Tiwari     D
32        Pankaj Sinha     B
33       Ritu Malhotra     B
34       Mohit Chauhan     A
35   Ankita Srivastava     A
36         Deepak Rana     D
37       Preeti Khanna     A
38        Sanjay Patel     A
39        Madhuri Naik     A
40        Yash Agarwal     D
41           Isha Goel     A
42     Pranav Kulkarni     F
43          Komal Jain     C
44          Sahil Khan     D
45         Nandini Roy     F
46       Rajesh Pillai     F
47       Bhavya Mittal     F

In [7]:
print(df.iloc[0:5])

   Student_Name Department Year Section  Marks Result Grade
0  Aarav Sharma        CSE  3rd       C     90   Pass     A
1    Diya Patel         ME  1st       B     51   Pass     D
2   Rohan Verma        EEE  3rd       C     57   Pass     C
3  Ananya Singh         ME  2nd       C     56   Pass     C
4   Kunal Mehta         CE  3rd       A     92   Pass     A
Student_Name    Aarav Sharma
Department               CSE
Year                     3rd
Section                    C
Marks                     90
Result                  Pass
Grade                      A
Name: 0, dtype: object

In [8]:
print(df.loc[0])

Student_Name    Aarav Sharma
Department               CSE
Year                     3rd
Section                    C
Marks                     90
Result                  Pass
Grade                      A
Name: 0, dtype: object

In [10]:
filtered=df[df["Marks"]>50]
print(filtered)

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        CSE  3rd       C     90   Pass     A
1           Diya Patel         ME  1st       B     51   Pass     D
2          Rohan Verma        EEE  3rd       C     57   Pass     C
3         Ananya Singh         ME  2nd       C     56   Pass     C
4          Kunal Mehta         CE  3rd       A     92   Pass     A
5           Priya Iyer        ECE  1st       C     76   Pass     B
6           Aditya Rao        CSE  4th       A     74   Pass     B
9          Neha Kapoor         CE  2nd       A     86   Pass     A
10      Arjun Malhotra        EEE  3rd       B     76   Pass     B
11         Pooja Desai      AI&DS  1st       B     60   Pass     C
13     Ishita Banerjee         ME  1st       B     97   Pass     A
14      Siddharth Jain         ME  1st       B     75   Pass     B
15      Nisha Aggarwal         CE  1st       A     64   Pass     C
17         Kavya Reddy        EEE  4th       C     84   Pass     B
18        Suresh Kumar         ME  2nd       A     80   Pass     B
19          Mehul Shah        CSE  4th       C     60   Pass     C
20         Tanvi Joshi      AI&DS  2nd       A     60   Pass     C
21       Amit Kulkarni        ECE  4th       A     74   Pass     B
22        Shreya Ghosh        ECE  4th       A     79   Pass     B
23        Varun Saxena         CE  4th       C     92   Pass     A
26        Swati Pandey        EEE  2nd       C     70   Pass     B
28  Aishwarya Kulkarni         ME  1st       A     72   Pass     B
29       Harsh Vardhan        ECE  4th       C     62   Pass     C
30         Simran Kaur      AI&DS  4th       A     90   Pass     A
31       Gaurav Tiwari         CE  2nd       C     54   Pass     D
32        Pankaj Sinha        CSE  3rd       A     81   Pass     B
33       Ritu Malhotra        CSE  1st       A     74   Pass     B
34       Mohit Chauhan         ME  1st       C     93   Pass     A
35   Ankita Srivastava         CE  2nd       C     98   Pass     A
36         Deepak Rana      AI&DS  1st       C     51   Pass     D
37       Preeti Khanna        ECE  1st       B     89   Pass     A
38        Sanjay Patel      AI&DS  4th       B     87   Pass     A
39        Madhuri Naik        ECE  2nd       B     87   Pass     A
41           Isha Goel        ECE  2nd       B     90   Pass     A
43          Komal Jain        EEE  4th       A     60   Pass     C
44          Sahil Khan         CE  4th       C     54   Pass     D